<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="article__main">
    <app-big-card photoCover="https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_1280.jpg"
      cardTitle="Postagem #1"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales felis nec ipsum lacinia, at placerat erat sodales. Nulla congue dapibus mauris. Cras accumsan dui ut mauris sollicitudin, sagittis hendrerit nisl suscipit. Praesent efficitur, mi id consectetur aliquet, tortor velit sollicitudin nisi, non sagittis mi augue eu tellus."></app-big-card>
  </div>
  <div class="article__others">
    <app-small-card cardTitle="
    Aliquam erat volutpat. Sed eu leo at tellus fringilla placerat sed congue lorem. "
      photoCover="https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg">
    </app-small-card>
    <app-small-card cardTitle="Vivamus sed tempus nunc. Nam porta condimentum augue sit amet faucibus. "
      photoCover="https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg">
    </app-small-card>
    <app-small-card cardTitle="Sed imperdiet faucibus ante, in semper enim scelerisque sit amet."
      photoCover="https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_1280.jpg">
    </app-small-card>

  </div>
</div>